@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Federant&display=swap');
*{
  color: white;
  font-family: 'Work Sans';
  font-weight: 500;
  font-size: 14px;
}

body{
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  margin-top: 8%;
  background: #e3f5ff;
}

#terug{
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-top: 1em;
  margin-left: 3em;
}

#terug:hover{
  text-decoration: underline;
}

.screen0{
  position: absolute;
  color: white;
  background: #242424;
  border: none;
  text-align: right;
  outline: none;
  margin-left: 11em; 

}

.screen{
  width: 310px;
  height:71px;
  margin-top: 1px;
  color: white;
  background: #242424;
  font-size: 3em;
  text-align: right;
  border: solid #242424 0.5px;
  outline: none;

}

.box{
  border: solid #242424;
  text-align: center;
  width: 321px;
  height: 441px;
  background: #242424;
  border-radius: 1.5px;
  opacity: 100px;
}

button{
  text-align: center;
  background: #141414;
  border: solid 2px #141414;
  outline: solid #141414 2px;
}



.one button{
  padding: 4px 0;
  width: 49.25px;
  background: #242424;
  border: none;
  outline: none;
}

.two button{
  padding: 15px 0;
  width: 76px;
}

.three button{
  padding: 15px 0;
  width: 76px;
}

.four button{
  padding: 15px 0;
  width: 76px;

}

.five button{
  padding: 15px 0;
  width: 76px;

}

.six button{
  padding: 15px 0;
  width: 76px;

}

.seven button{
  padding: 15px 0;
  width: 76px;
}


.blue{
  background: #176b99;
  border-color: #176b99;
  outline-color: #176b99;
}

button:hover{
  background: #242424;
  border-color: #595959;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 5px;
  outline: none;


}

.blue:hover{
  background: #1f82f8;
  border-color: #1f82b8;
  outline-color: #1f82b8;
  transition: 0.3s
}

.changeone:hover{
  background-color: #525252;
}

button:active{
  background: #595959;
}

.blue:active{
  background: #595959;
}

.changeone:active{
  background: #2496d4;
}


h1, span{
  text-align: center;
  font-size: 2.5em;
  color: #015250;
}

.line2{
  font-family: 'Federant';
  text-decoration: underline;
}

.leftside{
  text-align: center;
  font-family: sans-serif;
  font-family: 1.5em;
  cursor: context-menu;
}



@media (max-width: 780px) {
  body{
    display: inline;
    background: #cfecfc;
    transition: 1s;
  }
  .box{
    margin-left: 30%;
    margin-top: 2%;
  }

  .leftside{
    margin-left: 4%;
  }
  *{
    font-size: 13px;
    transition: 0.5s;
  }
}
